
body{
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size:1.2rem;
}

table{
    width: 100%;
}

textarea,input{
    border:0px;
    width: 100%;
}
table,td{
    border: 1px solid green;
    align-text: center;
}

.name{
    width: 10rem;
    height: 5rem;
}

td{
    padding:0.6rem;
}

input{
    height:2rem;
}

button{
    cursor: pointer;
    font-size:1rem;
    width:12rem;
    height:3rem;
    border-radius:0.2rem;
    margin:1rem;
    margin-left: 16rem;
}